body{
    background-color: lightgray;
}
.fa{
    color:rgb(221, 9, 139);
}
.text{
    margin: 20px 1px;
}
span{
    font-size: 14px;
}
a{
    border-bottom : 1px solid rgb(49, 17, 229); 
}
.box-part{
    background-color:white ;
    padding: 60px 10px;
    margin: 30px 0px;
}
.box{
    padding: 60px 0px;
}
.fa-facebook-official{
    color: rgb(2, 55, 160);
}
.fa-twitter{
    color: rgb(14, 169, 247);
}
.fa-pinterest-p{
    color: red;
}
.fa-google-plus{
    color: rgb(157, 56, 31);
}
.fa-github{
    color: black;
}
